/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
.root
{
}
.button  
{  
    -fx-background-color:darkslateblue;   
    -fx-font-family:courier_new;   
    -fx-text-fill:White;  
    -fx-border-color: Wheat;  
	-fx-border-radius: 5;  
    -fx-font-size:30;  
    -fx-pref-height: 100;
    }
#StartButton
{
	-fx-pref-width: 200;	
}
#LeaderBoardPageButton{
	-fx-pref-width: 250;	
}
#SettingsButton{
	-fx-pref-width: 200;	
}
#ResumeGameButton{
	-fx-pref-width: 200;	
}
/*for mainpage */